@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
$primary-color: #212121;
$secondary-color: #323232;
$main-red: #ff0000;
$main-white: #ffffff;

$main-font: "Quicksand", sans-serif !important;
$secondary-font: "Open Sans", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: $secondary-font;
  background-color: $primary-color;
}

.heading {
  font-family: $main-font;
  font-size: 24px;
  font-weight: bold;
}
.dropdown-menu {
  background-color: #212121;
  border: 2px solid white;
  .dropdown-item {
    color: white;
    transition: all 0.5s ease;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: red;
  }
}

.subheading {
  font-weight: 400;
  font-size: 16px;
}
/* NAVBAR */
.navbar-brand {
  font-weight: 700;
  font-family: $secondary-font;
}
.navbar {
  background-color: $primary-color !important;
}
.dropdown-item {
  font-weight: 700;
  &:focus {
    color: white;
    background-color: red;
  }
}
.navbar-brand span {
  color: $main-red;
}
.navlink {
  font-family: $secondary-font;
}
.nav-link.active {
  font-weight: 700;
  color: $main-red !important;
}

.list-group {
  list-style: decimal inside;
}

.list-group-item {
  border: none;
  display: list-item;
}
.bold {
  font-weight: 600;
}

/* END OF NAVBAR */

/* LAPORAN */
.laporan {
  color: white;
  margin-top: 8rem;

  .start-header {
    margin-top: 4rem;
  }
  h1,
  h2 {
    font-family: $main-font;
    font-weight: 700;
  }
  li.list-group-item {
    background-color: transparent;
    color: white;
  }
  p {
    text-align: justify;
  }
  .img-perusahaan-container,
  .img-struktur-container,
  .produk-perusahaan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  .img-perusahaan,
  .img-struktur {
    border-radius: 15px;
    padding: 2rem;
    width: 300px;
    background-color: white !important;
  }
}
.myproject {
  color: $main-white;

  .col {
    width: 50%;
    margin-top: 8rem;
  }
  a.col-lg-3 {
    width: auto;
  }
  .produk {
    background-color: $main-white;
    width: 20rem;
    height: 15rem;
    border-radius: 10px;
    border: 5px inset $secondary-color;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .produk-perusahaan {
    gap: 1rem;
  }
  .microsoft {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/LaporanWebPhoto/jasa-microsoftOffice.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .photoshop {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/LaporanWebPhoto/jasa-photoshop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .web {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/LaporanWebPhoto/jasa-web.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
/* END OF LAPORAN */
/* MEDIA QUERY */
@media only screen and (max-width: 768px) {
  .laporan {
    p {
      text-align: start;
    }
    .img-struktur {
      width: 300px;
    }
  }
}
/* END OF MEDIA QUERY */
